/* ===Imports=== */
@import url('https://fonts.googleapis.com/css?family=Barlow|Barlow+Condensed:400,700&display=swap');

/* ===Custom Vars=== */
:root {
  --primary-color: hsl(0, 100%, 68%);
  --dark-blue: hsl(230, 29%, 20%);
  --dark-grayish-blue: hsl(230, 11%, 40%);
  --grayish-blue: hsl(231, 7%, 65%);
  --light-grayish-blue: hsl(207, 33%, 95%);
  --font-size: 18px;
  --font-family-headings: 'Barlow Condensed', sans-serif;
  --font-family-body: 'Barlow', sans-serif;
  --font-weight-body: 400;
  --font-weight-headings-normal: 400;
  --font-weight-headings-bold: 700;
}

/* ===Resets=== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body);
  font-size: 1.2rem;
  position: relative;
  padding: 3rem 0;
  color: var(--dark-blue);
}

body:before{
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 50vw;
  height: 26.5rem;
  background: var(--light-grayish-blue);
  border-bottom-left-radius: 3.5rem;
  z-index: -1;
}

main { overflow-x: hidden; }

img { width: 100%; }

ul { list-style: none; }

a { text-decoration: none; }

/* ===Utils=== */
.container {
  width: 1100px;
  margin: 0 auto;
  max-width: 90%;
}

.flex {
  display: flex;
  align-items: center;
}

.main-text {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-family: var(--font-family-headings);
  font-weight: var(--font-weight-headings-bold);
}
.desc-text { 
  line-height: 1.5;
  margin-bottom: 1rem;
}

.muted-text {
  color: var(--grayish-blue);
  margin-left: 1rem;
  letter-spacing: 2px;
}

.pill {
  background: var(--dark-blue);
  padding: 0.5rem 0.7rem;
  border-radius: 2rem;
  color: #fff;
  letter-spacing: 1px;
  font-family: var(--font-family-headings);
  font-weight: var(--font-weight-headings-bold);
}

.btn {
  background: var(--primary-color);
  outline: none;
  border: none;
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
  font-family: var(--font-family-headings);
  font-weight: var(--font-weight-headings-bold);
  letter-spacing: 1.5px;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}
.btn:hover { opacity: 0.7; }

.pill, .muted-text, .btn {
  font-size: 0.7rem;
  text-transform: uppercase;
}

/* ===Custom CSS=== */
.navbar {
  justify-content: space-between;
  position: relative;
  margin-bottom: 4rem;
}

.navbar__logo {
  width: 24px;
}

.navbar__hamburger { cursor: pointer; }

.navbar__links {
  display: none;
  position: absolute;
  top: 4.5rem;
  width: 100%;
  background: #fff;
  padding: 1.5rem;
  box-shadow: -2px 2px 15px rgba(0, 0, 0, 0.3);
  flex-direction: column;
  justify-content: space-between;
  height: 15rem;
  z-index: 100;
}
.navbar__links li { text-align: center; }

.navbar__links li a {
  color: var(--dark-blue);
  text-transform: uppercase;
  font-family: var(--font-family-headings);
  font-weight: var(--font-weight-headings-bold);
  letter-spacing: 1.5px;
}

.navbar__links li:hover a { text-decoration: underline; }

.navbar__links li:last-child {
  padding-top: 1.5rem;
  border-top: 1px solid var(--light-grayish-blue);
}
.navbar__links li:last-child a {
  color: var(--grayish-blue);
}

.hero {
  flex-direction: column;
}

.hero__img {
  margin-bottom: 4rem;
  width: 150%;
  transform: translateX(15%);
}

.announce { margin-bottom: 1rem; }

/* ===Media Query=== */
@media (min-width: 750px) {
  body { height: 100vh; }

  .navbar__logo { width: 32px; }

  .navbar__hamburger { display: none; }

  .navbar__links {
    display: flex;
    position: static;
    background: none;
    padding: 0;
    box-shadow: none;
    flex-direction: row;
    justify-content: flex-end;
    height: initial;
    z-index: 1;
  }

  .navbar__links li {
    margin-left: 3rem;
  }

  .navbar__links li:last-child {
    padding-top: 0;
    border-top: none;
    margin-left: 6rem;
  }

  .hero {
    flex-direction: row;
  }

  .hero__img {
    width: 300%;
    transform: translateX(40%);
    margin-bottom: 0;
    order: 2;
  }

  .hero__text {
    order: 1;
    width: 150%;
  }

  .btn {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
